@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --sand: #FF9D6F;
    --light: #fae7e8;
    --dark: #663926;
    --darker: #140405;
    --text: #430e11;
    --bg: #E27B58;
    --ff-text: 'Quicksand', sans-serif;
}

body{
    background-color: var(--bg);
    font-family: var(--ff-text);;
}
/* *Score */
section#score{
    margin-block: 10px;
    padding: 15px;
}
section#score .container{
    background-color: var(--text);
    color: var(--light);
    padding: 5px;
}

/* *Header */
header{
    background: url(assets/surface-of-mars-illustration-vector.jpg) center no-repeat;
    background-size: cover;
    background-color: var(--sand);
    color: var(--light);
    text-align: center;
    line-height: 78px;
    padding-block: 20px;
}
header h2{
    color: var(--text);
    font-size: 5rem;
    font-weight: 700;
}
header p{
    color: var(--light);
    font-size: 2rem;
    font-weight: 700;
}
/* *Quiz */
input{
    cursor: pointer;
}
main .container h2{
    padding-block: 1ch;
}
form{
    margin-block: 30px;
    padding: 15px;
    background-color: var(--sand);
}
.question{
    font-size: 3ch;
    font-weight: 500;
    margin-block: 10px;
}
.options{
    font-size: 2.4ch;
    font-weight: 400;
}
/* *submit button */
.btn_holder{
    margin-block: 20px;
}
.btn_holder input{
    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 10px;
    font-size: 4ch;
    transition-property: background-position, color, border;
    transition:.5s ease;
}
.btn_holder input:hover{
    background-color: #422518;
    color: #edf0f1;
    border: 2px solid var(--darker);
}